{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이미지 복호화</title>
    <link rel="stylesheet" href="{% static 'css/DEC.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    <!-- 메뉴바 -->
    {% include "menu/menu.html" %}
    <div class="container">
        <div class="title">이미지 복호화</div>
        <div class="description">
            사진을 복호화하는 방법에 대해 설명합니다. 복호화 후 사진의 모양, 걸리는 시간 등을 포함합니다.
        </div>
        <!-- 복호화할 파일 업로드 upload-photo-->
    <form action="" method="post" class="form_group" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="Sbutton" id="Decrypt_button">복호화</button>
    </form>

    {% if decrypt_image_path %}
        <div id="Decrypt_image">
            <img id="Decrypt_image_preview" src="{{ decrypt_image_path }}" alt="복호화 된 사진">
            <button id="save_Decrypt_photo">복호화 된 사진 저장</button>
        </div>
    {% endif %}

    <script>
         // 복호화할 이미지 (upload-photo)
        document.getElementById('upload_photo').addEventListener('change', function() {
            const file = this.files[0];
            if (file) {
                document.getElementById('photo_filename').textContent = file.name; // 파일명 표시
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('photo_preview').src = e.target.result;
                    document.getElementById('preview').style.display = 'block';
                }
                reader.readAsDataURL(file); // 파일 미리보기
            }
        });

        document.getElementById('Decrypt_button').addEventListener('click', function() { // 복호화버튼 클릭시
            document.getElementById('Decrypt_image').style.display = 'block';  // 복호화 이미지 보임
        });

         // 'save-Decrypt-photo' 클릭 시 
        document.getElementById('save_Decrypt_photo').addEventListener('click', function() {
        const DecryptImage = document.getElementById('Decrypt_image_preview');
        const link = document.createElement('a');
        link.href = DecryptImage.src;
        link.download = '{{ decrypt_image_name }}'; // 다운로드 파일명 설정
        link.click();
        });
         
    </script>
  
  </body>
  
</html>