{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이미지 암호화</title>
    <link rel="stylesheet" href='{% static "css/menu.css" %}'>
    <link rel="stylesheet" href='{% static "css/CRY.css" %}'>

</head>
<body>
    <!-- 메뉴바 -->
    {% include "menu/menu.html" %}

    <div class="container">
        <div class="title">이미지 암호화</div>
        <div class="description">
            AES의 모드 중 CBC 모드로 사진을 암호화합니다. 암호화된 사진은 PNG 형식이고, 원본과 동일한 크기입니다. 
            해당 사진이 압축 등의 이유로 변형될 경우 복호화가 불가능할 수도 있습니다.
        </div>
        <!-- 파일 업로드 -->
        <form action="" method="post" class="form_group" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="Sbutton" id="encrypt_button">암호화</button>
        </form>

        {% if encrypt_image_path %}
        <div id="encrypt_image">
            <img id="encrypt_image_preview" src="{{ encrypt_image_path }}" alt="암호화 된 사진">
            <button id="save_encrypt_photo">암호화 된 사진 저장</button>
        </div>
        {% endif %}
    </div>

    <script>
        document.getElementById('upload_photo').addEventListener('change', function() {
            const file = this.files[0];
            if (file) {
                document.getElementById('photo_filename').textContent = file.name;
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('photo_preview').src = e.target.result;
                    document.getElementById('preview').style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        });

        document.getElementById('profile_checkbox').addEventListener('change', function() {
            if (this.checked) {
                document.getElementById('upload_profile_photo').style.display = 'block';
            } else {
                document.getElementById('upload_profile_photo').style.display = 'none';
            }
        });

        document.getElementById('upload_profile_photo').addEventListener('change', function() {
            const file = this.files[0];
            if (file) {
                document.getElementById('profile_photo_filename').textContent = file.name;
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('profile_photo_preview').src = e.target.result;
                    document.getElementById('profile_preview').style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        });

        document.getElementById('save_encrypt_photo').addEventListener('click', function() {
            const encryptImage = document.getElementById('encrypt_image_preview');
            const link = document.createElement('a');
            link.href = encryptImage.src;
            link.download = '{{ encrypt_image_name }}'; // 다운로드 파일명 설정
            link.click();
        });
    </script>
</body>
</html>